/* Header.css */

.header {
    background-color: #007bff;
    color: #fff;
    /* padding: 20px 0; */
    display: flex;
    align-items: center; 
  }
  
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 20px;
  }

  .name-real{
    font-size: medium;
  }
  
  
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .logout-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .enlarged-user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
  }
  