.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination select {
    padding: 8px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  