/* TaskManagement.css */

.task-management-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:  #fdfeff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(176, 200, 225, 0.1);
}

.task-management-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.heading-add-task {
  color: rgb(96, 132, 248);
}

.add-task-button1 {
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.add-task-button:hover {
  background-color: #0056b3; /* Change color on hover */
}
