.task-form-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form-popup-container {
  width: 80%;
  max-width: 600px;
  height: 80vh; /* Adjust as needed */
}

.task-form-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-title-input,
.task-priority-select,
.task-status-select,
.task-team-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-priority-select,
.task-status-select
.task-team-select {
  margin-left: 4px;
}

.add-task-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.add-task-button:hover {
  background-color: #0056b3;
}


/* TaskFormPopup.css */

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  width: 20%;
  text-align: center;
}
